<h1> My tasks </h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
  <input type="checkbox">
  <%= link_to task.title, task_path(task) %>
  <%= link_to 'ðŸ—‘ï¸' , delete_path(task), method: :delete, data:{confirm: 'Are you sure you want to delete?'} %>
  </li>
</ul>
<% end %>
  <%= link_to "Add a new task", tasks_new_path %>